body
{
    cursor:pointer;
    background-image:url("whiteflower.jpg");
    background-size:contain;
}
h4{
    color:whitesmoke;
    font-display:swap;
    font-family:Algerian;
    font-size: 20px;
    font-style:normal;
    text-decoration-color:inherit;
}
ul{
    background-color:transparent;
    list-style:none;
    float:left;
    color:white;
    font-size:16px;
    flex:none;

}
li {
    text-align: center;
    color: black;
    float: left;
    font-size: 20px;
    list-style: none;
    padding: 1px 2px 2px 1px;
    margin: 2px 2px 2px 2px;
    color: blue;

}
div ul li{
    position:center;

}
 div li:hover {
    color: gray;
    transition: ease-in-out;
    background-color:rgb(245 245 245 / 0.25);
   
}
div li img:hover {
    transition: ease-in-out;
    width: 255px;
    height:280px;
}

    div.card1 img{
        width:250px;
        height:300px;
          
        float:right;
        padding:4px;
        margin:12px;
        border:none;
    }
    button{
           width:80px;
           height:40px;
           background-color:transparent;
           box-shadow:initial;
    }
    button:hover{
          width:85px;
          height:45px;
          color:yellow;
    }

.pagination {
    display: inline-block;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
